tools/pictures/sheets/*.png filter=lfs diff=lfs merge=lfs -text
tools/pictures/tiles/masters/*.png filter=lfs diff=lfs merge=lfs -text
tools/pictures/tiles/superseded/*.png filter=lfs diff=lfs merge=lfs -text
